.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0 !important;
  list-style-type: none;
}

img {
  width: 100px;
  height: auto;
}
